In [1]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
list1 = []
n = int(input())
for i in range(n):
    list1.append(int(input()))
a = sum(list1)
print(a)

3
1
2
3
6

In [ ]:
#count no.of digits in the given string
#input:"python123is456good789"
#output:9
s = input()
i = 0
count = 0
add = 0
while i<len(s):
    if s[i].isdigit():
        count += 1
        add += int(s[i])
    i += 1
print("count is:",count,"sum of digits is:",sum)

In [5]:
#for loop
#1.using range()
#2.using Iterable object
n = int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number10
1 3 5 7 9

In [10]:
#input:python
#output:p y t h o n
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

## collection type Data type:
### List:
1. for creating a list use []
2. List are mutable
3. List are indexed
4. List are ordered
5. List allows duplicate values
6. It stores heterogenous values

In [15]:
list1 = [23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67]
gnirts
3

In [30]:
#Manipulating a list
#1.Adding elements-->append(),insert(),extend()
list1 = [34,45,56,67]
print("Before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("After adding elements:",list1)

Before adding elements: [34, 45, 56, 67]
After adding elements: [34, 45, 56, 67, 100, 200, 300]

In [31]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [32]:
list1.extend([1,2,3])

In [33]:
#Removing elements from the list-->pop(),remove(),clear()
#list1.pop(5)
#list1.remove()
#list1.clear()
print(list1)

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3]

In [34]:
#Replacing an element
list1[5] = 1000
list1

[34, 400, 45, 56, 67, 1000, 200, 300, 1, 2, 3]

In [43]:
#sorting a list
list1 = [34,56,7,68,79,2,45,67]
list1.sort(reverse = True)
list1

[79, 68, 67, 56, 45, 34, 7, 2]

In [48]:
#Reversing a list
list1 = [453,4324,46,57,68,46,46]
list1.reverse()
list1

[46, 46, 68, 57, 46, 4324, 453]

In [49]:
list1.index(4324)

5

In [51]:
list1.count(46)

3

In [56]:
list1.append("python")
list2 = list1
print(list1,"  ",list2)

[46, 46, 68, 57, 46, 4324, 453, 'python']    [46, 46, 68, 57, 46, 4324, 453, 'python']

In [57]:
list3= list1.copy()
list3

[46, 46, 68, 57, 46, 4324, 453, 'python']

In [58]:
l1 = [1,2,3]
l2 = l1
print(l2)

[1, 2, 3]

In [59]:
l3 = l1.copy()
l3

[1, 2, 3]

In [61]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[1, 2, 3, 100] [1, 2, 3, 100] [1, 2, 3]
[1, 2, 3, 100, 100] [1, 2, 3, 100, 100] [1, 2, 3]

In [63]:
#input : [2,4,5,7,8]
#output : [4,16,25,49,64]
l1 = [2,4,5,7,8]
l2 = []
l3 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [65]:
l4 = []
for i in l1:
    if i%2==0:
        l4.append(i)
print(l4)

[2, 4, 8]

## Tuple:

In [2]:
x = 23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [3]:
tup1 = (23,34,5)
x,y,z = tup1
print(x,y,z)

23 34 5

### Dictionary:
#### syntax : {key1:value1,key2:value2,......}
#### key:
1. key should be unique
2. key should be immutable-->int,float,string,tuple

In [8]:
dict1 = {"name":"preeti","course":"python","address":"hyd"}
dict1["course"]

'python'

In [ ]:
#replace values
dict1["course"] = "c programming"
print(dict1)

In [9]:
#Adding entry
dict1["college"] = "GITAM"
print(dict1)

{'name': 'preeti', 'course': 'python', 'address': 'hyd', 'college': 'GITAM'}

In [10]:
#Removing entry
del dict1["address"]
print(dict1)

{'name': 'preeti', 'course': 'python', 'college': 'GITAM'}

## Function:
### def name_of_the_function(arg list):
####          statements
####          return

In [13]:
def add(x,y):#function definition
    print(x+y)
print(add(10,20))#function calling
print(add(100,200))

30
None
300
None

In [ ]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x

print(cube(3))